<div class="usuario">

    <br/>
    <a [routerLink]="['/atualizarmembro']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Atualizar membro</a>
    <div class="parte">
        <section class="wrapper">
            <ul class="tabs">
                <li><a href="#tab1">Perfil</a></li>
            </ul>
            <div class="clr"></div>
            <section class="block">
                <article class="tab_1" id="tab1">
                    <div class="fotoperfil">
                        <img src="assets/img/larissa.png">
                        <h2>Larissa Silveira</h2>
                        <button class = seguir> Seguir </button>
                    </div>
                </article>
            </section>
        </section>
        <div class="seguidores">
            <h2> Seguidores</h2>
            <div>
                <div class="triangulo"></div>
            </div>
            <div class="informacao">
                <div class="infoseg">
                    <h3 class="dados">Numero:</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/larissa2.jpeg" height="200px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/larissa3.jpeg" height="50px" width="50px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
        </div>
        <div class="seguindo">
            <h2>Seguindo</h2>
            <div>
                <div class="triangulo"></div>
            </div>
            <div class="informacao">
                <div class="infoseg">
                    <h3 class="dados">Numero:</h3>
                </div>

            </div>
            <div class="informacao">
                <img src="assets/img/larissa2.jpeg" height="200px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/larissa3.jpeg" height="50px" width="50px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
        </div>
    </div>
</div>