<div class="usuario">
   
    <br/>
   <button class = "atualiza" [routerLink]="['/atualizar']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Atualizar Pesquisador</button>
<br>
<button class = "postagem" [routerLink]="['/new']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Nova Postagem</button>
 <br>
 <button class = "publicacao" [routerLink]="['/publicar']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Nova Publicação</button>  
   <div class="parte">
        <section class="wrapper">
            <ul class="tabs">
                <li><a href="#tab1">Perfil</a></li>
            </ul>
            <div class="clr"></div>
            <section class="block">
                <article class="tab_1" id="tab1">
                    <div class="fotoperfil">
                        <img src="assets/img/leticia1.jfif">
                        <h2>Leticia Portugal</h2>
                        <button class = seguir onclick="this.innerHTML = 'Seguindo'"> Seguir </button>
                    </div>
                </article>
            </section>
        </section>
        <div class="seguidores">
            <h2> Seguidores</h2>
            <div>
                <div class="triangulo"></div>
            </div>
            <div class="informacao">
                <div class="infoseg">
                    <h3 class="dados">Numero:</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/leticia2.jfif" height="200px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/leticia3.jfif" height="50px" width="50px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
        </div>
        <div class="seguindo">
            <h2>Seguindo</h2>
            <div>
                <div class="triangulo"></div>
            </div>
            <div class="informacao">
                <div class="infoseg">
                    <h3 class="dados">Numero:</h3>
                </div>

            </div>
            <div class="informacao">
                <img src="assets/img/leticia1.jfif" height="200px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
            <div class="informacao">
                <img src="assets/img/leticia5.jfif" height="50px" width="50px">
                <div class="infoseg">
                    <h3 class="dados">Nome da pessoa</h3>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>
