<form class="d-flex flex-row bd-highlight col-sm-8" id="container-post">
    <div class="txtarea col-md-8 p-2 bd-highlight">
        <div class="form-group ">
            <label for="comment"></label>

	   <textarea id="conteudo" name="conteudo" class="form-control" rows="5" [(ngModel)]="data.conteudo" placeholder="Compartilhe a sua experiência" ></textarea>

            <button type="button" class="btn btn-primary" id="btnpost"  (click)="publicar()">Postar</button>
            <button type="button" class="btn btn-primary" id="btnpublic"  (click)="postar()">Publicar</button>
            <select class="btn" id="select-post">
                <option class="public-select">Público</option>
                <option class="private-select">Privado</option>
                <option class="friends-select">Seguidores</option>
            </select>
            <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
            <input type="file" />
        </div>
    </div>
</form>
