<html>
<head>
  <title> Social Network </title>

  <link rel="stylesheet" href= "/public/css/main.min.css">
  <link rel="stylesheet" href= "/public/css/style.css">
  <link rel="stylesheet" href= "/public/css/color.css">
  <link rel="stylesheet" href= "/public/css/responsive.css">

  </head>
  <body>
  		<div class="theme-layout">
  		<div class="container-fluid pdng0">
  			<div class="row merged">
  				<div class="offset-md-3 col-md-6">
  					<div class="login-reg-bg">
  						<div class="log-reg-area sign">
  						<h2 class ="log-title">Registro pesquisador</h2>

  						<form onsubmit="return doRegister(this);">
  						<div class="form-group">
  						 	<input type="text" required name= "name" />
  						  	<label class="control-label">Nome</label>
  						  	<i class="mtrl-select"></i>
  						</div>

  						<div class="form-group">
  							<input type="text" required name="username" />
  							<label class="control-label">Username</label>
  							<i class="mtrl-select"></i>
  						</div>

              <div class="form-group">
                <input type="date" required name="date" />
                <label class="control-label">Data de nascimento</label>
                <i class="mtrl-select"></i>
              </div>


              <div class="form-group">
                <input type="date" required name="date2" />
                <label class="control-label">Data que começou a trabalhar</label>
                <i class="mtrl-select"></i>
              </div>

  						<div class="form-group">
  							<input type="email" required name="email" />
  							<label class="control-label">Email</label>
  							<i class="mtrl-select"></i>
  						</div>

              <div class="form-group">
                <input type="text" required name="estado" />
                <label class="control-label">Estado</label>
                <i class="mtrl-select"></i>
              </div>

              <div class="form-group">
                <input type="text" required name="cidade" />
                <label class="control-label">Cidade</label>
                <i class="mtrl-select"></i>
              </div>

              <div class="form-group">
                <input type="text" required name="local" />
                <label class="control-label">Local de pesquisa</label>
                <i class="mtrl-select"></i>
              </div>

              <div class="form-group">
                <input type="text" required name="nivel" />
                <label class="control-label">Nivel de formação</label>
                <i class="mtrl-select"></i>
              </div>

              <div class="form-group">
                <input type="text" required name="link" />
                <label class="control-label">Link do currículo</label>
                <i class="mtrl-select"></i>
              </div>


  						<div class="form-group">
  							<input type="password"required name="password" />
  							<label class= "control-label">Password</label>
  							<i class="mtrl-select"></i>
  						</div>

  						<div class="form-radio">
  							<div class="radio">
  								<label>
  									<input type="radio" name="gender" value="Male" checked />
  									<i class="check-box"></i> Homem 
  									</label>
  							</div>
  							<div class="radio">
  								<label>
  									<input type="radio" name="gender" value="Female" />
  									<i class="check-box"></i> Mulher 
  									</label>
  							</div>
  						</div>

  						<a href="/login">Você ja tem uma conta?</a>
  						<div class="submit-btns">
  							<button class="mtr-btn signup" name="submit" type="submit">
  								<span>Register</span>
  							</button>
  						</div>
  					</form>
  				</div>
  			</div>
  		</div>
  	</div>
</div>
</div>

	<script>
		function doRegister(form){
		form.submit.setAttribute("disabled", "disabled");
		form.submit.innerHTML = "<span>Loading...</span>";

		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/pesquisador", true);

		ajax.onreadystatechange = function() {
			if(this.readyState == 4 && this.status == 200){
				form.submit.removeAttribute("disabled");
				form.submit.innerHTML ="<span>Register</span>";

				var response = JSON.parse(this.responseText);
				alert(response.message);

				if(response.status == "sucess"){
					window.location.href = "/login";
				}
			}
		};

		ajax.send(new FormData(form));
		return false;
	}
	</script>

</body>

</html>
