<%- include ("../views/includes/header") %>
<section>
	<div class="feature-photo">

		<figure>
			<img class="cover-photo" id="cover-photo" style="width: 100%; height: 700px; object-fit: cover;">
		</figure>

		<div class="add-btn">
				<span id="seguidores"></span>
			</div>


		<div class="container-fluid">
		<div class="row merged">
			<div class="col-md-2">
				<div class="user-avatar">
					<figure>
					<img class="profile-image" id="profile-image" style="width: 100%; height: 150px; object-fit=cover;">
					</figure>
				</div>
			</div>
			<div class="col-md-10">
				<div class="timeline-info">
			<ul>
				<li class="admin-name">
					<h5 class="user-name" id="user-name" style="padding-top: 20px; padding-bottom: 20px;"></h5>
					<h6 class="caption" id="caption";"></h5>
				</li>

			</ul>
		</div>
	</div>
</div>
</div>
</div>
	
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row" id="page-container">

						<ul>
						<p style="font-size: 21px; font-style: italic; color: black;" > Dados do perfil: </p>

						<p class = "email" id = "email" style="font-size: 21px;"> </p> 

						<p class = "nivel" id = "nivel" style="font-size: 21px;"> </p> 
						<p class = "temas" id = "temas" style="font-size: 21px;"> </p> 
						<p class = "estado" id = "estado" style="font-size: 21px;"> </p> 
						<p class = "cidade" id = "cidade" style="font-size: 21px;"> </p>
						<p class = "nivel" id = "nivel" style="font-size: 21px;"> </p>
						<p class = "local" id = "local" style="font-size: 21px;"> </p>
						<p class = "link" id = "link" style="font-size: 21px;"> </p> 
						<p class = "temas" id = "temas" style="font-size: 21px;>" </p>

						</ul>

							
							<div class="col-md-3">

							</div>
			
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="gap grap-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row" id="page-contents">

							<div class="col-md-3">
							</div>
							
							<div class="col-md-6">

							<div id="add-post-box"></div>

								<div class="loadMore" id="newsfeed">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<input type="hidden" id="_id" value="<%= _id %>">

<script>
		var isUserDetail = true;
		
		function getUserDetails(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getUserDetails", true);
			
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);

					
					document.getElementById("cover-photo").setAttribute("src", mainURL + '/' + response.data.coverPhoto);
					document.getElementById("profile-image").setAttribute("src", mainURL + '/' + response.data.profileImage);
					document.getElementById("seguidores").innerHTML = response.data.friends.length + " Seguidores";
					document.getElementById("user-name").innerHTML = response.data.name;

					document.getElementById("email").innerHTML = response.data.email;

					if( response.data.link == null){

					}else{
						document.getElementById("link").innerHTML = response.data.link;

					}


					if( response.data.nivel == null){

					}else{
						document.getElementById("nivel").innerHTML = response.data.nivel;

					}
					if( response.data.temas == null){

					}else{
						document.getElementById("temas").innerHTML = response.data.temas;

					}
					if( response.data.estado == null){

					}else{
						document.getElementById("estado").innerHTML = response.data.estado;

					}
					if( response.data.cidade == null){

					}else{
						document.getElementById("cidade").innerHTML = response.data.cidade;

					}

					if( response.data.local == null){

					}else{
						document.getElementById("local").innerHTML = response.data.local;

					}
					if( response.data.nivel == null){

					}else{
						document.getElementById("nivel").innerHTML = response.data.nivel;

					}
					if( response.data.temas == null){

					}else{
						document.getElementById("temas").innerHTML = response.data.temas;

					}




				}
			};
			
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", document.getElementById("_id").value);
			ajax.send(formData);			
		}

		var showPosts = true;
		
		function getPosts(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getPosts", true);
			
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);


					var html ="";
					
					var html = "";
					for (var a=0; a < response.data.length; a++){
						var data = response.data[a];
						
							html += '<div class="central-meta item">';
							html += '<div class="user-post">';
							html += '<div class="friend-info">';
						
							html += '<figure>';
							html += '<img src="' + mainURL + "/" + data.user.profileImage + '" style="width:45px; heidht:45px; object-fit:cover;">';
							html += '</figure>';
						
							html += '<div class="friend-name">';
							html += '<ins>';
							html += '<a href="/user/' + data.user._id + '">';
							html += data.user.name;
							html += '</a>';
							html += '</ins>';
							
							var createdAt = new Date(data.createdAt);
							var date = createdAt.getDate() + "";
							date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
							
							html += '<span> Published:' + date + '</span>';
							html += '</div>';
							html += '<div class="post-meta">';
						
							html += '<div class="description>">';
							html += '<p>';
							html += data.caption;
							html += '</p>';
							html += '</div>';
							
						if(data.image != ""){
							html += '<img src="' + mainURL + "/" + data.image + '">';
						}
						if(data.video != ""){
							html += '<video style="height:395px; width:100%;" controls src="' + mainURL + "/" + data.video + '"></video>';
						}
						
						html += createLikesSection(data);
						html += '</div>';
						html += '</div>';
						
						html += createCommentsSection(data);						
						html += '</div>';
						html += '</div>';
					}
					document.getElementById("newsfeed").innerHTML = html;
				}
			};
			
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", document.getElementById("_id").value);

			ajax.send(formData);			
		}

		

	</script>

</script>






<%- include ("../views/includes/foooter") %>
